<%= link_to image_tag("Create.png"),new_sampleform_path %>



<%= form_tag s1s_path, :method => 'get'  do  %>

<p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "search" %>
</p>
<% render @sampleforms
<% end %>

<table border 1px solid>
	<tr>
	  
	  <th>ID</th>
	  <th>Firstname</th>
	  <th>Lastname</th>
	  <th>Email</th>
	  <th>Gender</th>
	  <th>Address</th>
	  <th>Country</th>
	  <th>images</th>
	  
	</tr>

<% @s1.each do |sampleform| %>
    <tr>
    	   	
		   <td><%= sampleform.id %></td>
		   <td><%= sampleform.firstname %></td>
		   <td><%= sampleform.lastname %></td>
		   <td><%= sampleform.email %></td>
		   <td><%= sampleform.gender %></td>
		   <td><%= sampleform.address %></td>
		   <td><%= sampleform.country %></td>
		   <td><%= image_tag sampleform.images %></td>

		   

     </tr>
<% end %>
</table>